@import '../../style.vars.scss';

.header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  min-height: 15em;
  padding: 5em;
  text-align: center;
  margin-top: 15vh;

  .header-image {
    width: 30%;
    height: 100%;
    align-items: center;
    margin-right: 5em;

    img {
      width: 100%;
      filter: invert(80%);
    }
  }

  .header-description {
    width: 80%;
  }
}

#MostVisited {
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
}

@media (max-width: $desktop) {
  .header-image {
    display: none;
  }
}
