<div class="header overlay">
  <div class="header-image">
    <img [lazyLoad]="headerImg" alt="">
  </div>
  <div class="header-description color1">
    <h1>{{ Language.mainpageHeader }}</h1>
    {{ Language.mainpageContent }}
    <div><button class="bg-3 m-auto my-1 center show-bg" style="max-width: 20em;"
        (click)="showBG()">{{ Language.buttonFullBackground }}</button></div>
  </div>

</div>
<div id="MostVisited" class="flex" style="width: 90%;">
  <div class="card-container" *ngFor="let item of Cards | slice:0:3; index as i;" [routerLink]="['/browse']" [queryParams]="{type: item.type, region: item.region}">
    <div class="card color1 center rounded p-2 overlay">
      <h3 class="text-shadow white center">{{item.title}}</h3>
      <img [lazyLoad]="item.slides[0]" alt="{{item.title}}">
      <div class="desc">{{item.description}}</div>
    </div>
  </div>
</div>