<!-- <div style="display:flex;height:200px;">
  <div style="width:100px" class="bg-0">0</div>
  <div style="width:100px" class="bg-1">1</div>
  <div style="width:100px" class="bg-2">2</div>
  <div style="width:100px" class="bg-3">3</div>
  <div style="width:100px" class="bg-4">4</div>
  
  </div> -->
<div id="fullpic"></div>
<div class="header overlay">
  <div class="header-image"> 
    <img src="assets/images/header-image.png" alt="">
  </div>
  <div class="header-description color1">
    <h1>{{ Language.mainpageHeader }}</h1>
    Here you'll find the best Portuguese green spots for your freetime. You can choose and plan everything thanks to
    our
    rating system by our users. Go on, take a look! And please respect the NATURE!
    <div><button class="bg-1 m-auto my-1 center" style="max-width: 20em;" (click)="showBG()">View Full Background Image</button></div>
  </div>

</div>
<div id="MostVisited" class="flex" style="width: 90%;">
  <div class="title m-auto center color1">
    <h1 class="text-shadow">
      {{ Language.mainpageMostvisited }}
    </h1>
  </div>
  <div class="card color1 center rounded p-2 my-2 overlay">
    <h3 class="text-shadow white center">Local 1</h3>
    <img
      src="https://cdn.kimkim.com/files/a/content_articles/featured_photos/8a7de49888dce87754b68582d0d4dc1afc6559e0/big-264bb2742bf117bbdb1c6c41a229f6c3.jpg"
      alt="">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse ipsum odit explicabo itaque sequi perspiciatis vero
    quam distinctio sit in. Eum, adipisci culpa? Dolore odit facere fugit impedit autem tenetur.
  </div>
  <div class="card color1 center rounded p-2 my-2 overlay">
    <h3 class="text-shadow white center">Local 2</h3>
    <img
      src="https://cdn.kimkim.com/files/a/content_articles/featured_photos/8a7de49888dce87754b68582d0d4dc1afc6559e0/big-264bb2742bf117bbdb1c6c41a229f6c3.jpg"
      alt="">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse ipsum odit explicabo itaque sequi perspiciatis vero
    quam distinctio sit in. Eum, adipisci culpa? Dolore odit facere fugit impedit autem tenetur.
  </div>
  <div class="card color1 center rounded p-2 my-2 overlay">
    <h3 class="text-shadow white center">Local 3</h3>
    <img
      src="https://cdn.kimkim.com/files/a/content_articles/featured_photos/8a7de49888dce87754b68582d0d4dc1afc6559e0/big-264bb2742bf117bbdb1c6c41a229f6c3.jpg"
      alt="">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse ipsum odit explicabo itaque sequi perspiciatis vero
    quam distinctio sit in. Eum, adipisci culpa? Dolore odit facere fugit impedit autem tenetur.
  </div>

</div>
