@import '../../style.vars.scss';

.header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: 15vh;
  min-height: 15em;
  padding: 5em;
  text-align: center;

  @media (max-width: $desktop) {
    padding: 3em;
    margin-top: 5vh;

    .show-bg {
      display: none;
    }
  }

  .header-image {
    width: 30%;
    height: 100%;
    align-items: center;
    margin-right: 5em;

    img {
      width: 100%;
      filter: invert(80%);
    }
  }

  .header-description {
    width: 80%;
  }
}

#MostVisited {
  flex-wrap: wrap;
  justify-content: center;

  .card {
    height: 85%;
  }

  @media (max-width: $mobile) {
    .card {
      width: 265px;
    }
  }
}

@media (max-width: $desktop) {
  .header-image {
    display: none;
  }
}
