<ng-container *ngIf="slides && slides.length > 1; else elseTemplate">
  <div class="container">
    <div (click)="left()" class="left"><span>&#8249;</span></div>
    <div *ngFor="let item of slides; index as i;" class="img">
      <img *ngIf="i == Actual" [@fadeInOut] [src]="item" alt="LusoNature">
    </div>
    <div (click)="right()" class="right"><span>&#8250;</span></div>
  </div>
</ng-container>
<ng-template #elseTemplate>
  <img *ngIf="slides" style="max-width: 80%; display: block; margin: auto;" src="{{ slides[0] }}" alt="">
</ng-template>
