@import '../../style.vars.scss';

.nav-spacer {
  padding-top: 3em;

  @media (max-width: $desktop) {
    padding-top: 2em;
  }
}

nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  min-height: 3.5em;
  padding: 0.2rem 1rem 0 1rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  transition: background-color 0.1s ease-in-out;
  z-index: 20;
  overflow: hidden;

  .burger {
    cursor: pointer;
    order: 4;

    svg {
      fill: var(--color4);
      fill-rule: evenodd;
      clip-rule: evenodd;
      stroke-linejoin: round;
      stroke-miterlimit: 1.41421;
    }
  }

  a {
    color: var(--color0);
    transition: color 0.1s ease-in-out;

    &.open {
      color: var(--color4);
    }

    &.fa-user {
      margin-right: 1rem;
    }
  }

  a:hover {
    color: var(--color4);
  }

  .dropdown {
    display: inline-block;
    position: relative;

    .dropdown-arrow-down {
      font-size: 10px;
    }
  }

  .dropdown-content {
    //background-color: var(--color4);
    //border-radius: 0 0 0.5rem 0.5rem;
    margin-top: 1.2rem;
    padding: 0;
    position: absolute;
    width: 11rem;
    //box-shadow: 0.1rem 0.1rem 1rem #000;
    //box-shadow: inset 0 7px 9px -7px #000;
    max-height: 0;

    a {
      transition: none;
      padding: 0.5rem 1rem;
      margin: 0.1rem 0;
      //color: var(--color2);
      color: white;
      display: inline-block;
      width: 100%;
    }

    div:hover {
      background-color: var(--color2);
    }

    &.open {
      animation: dropdown-movein 1s;
      max-height: 600px;
    }
  }

  .logo {
    order: 1;
    font-family: 'Lobster', 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    text-shadow: 0.05rem 0.05rem 0.2rem #000;
    margin-right: 15px;

    .main-icon {
      margin-right: 8px;
      font-size: 30px;
      filter: drop-shadow(0.05rem 0.05rem 0.2rem #000);
    }

    a {
      display: flex;
      align-items: center;
      color: var(--color0);
      transition: text-shadow 0.2s ease;
    }

    a:hover {
      color: white;
      text-shadow: 0.05rem 0.05rem 0.2rem var(--shadows1);
    }
  }

  ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;

    li {
      display: inline;
      // padding-right: 0.9rem;
      font-size: 1rem;
    }
  }

  img {
    margin-left: 10px;
    width: 1.5rem;
  }

  &.opaque {
    background-color: var(--color3);
    -webkit-box-shadow: 0 0.2rem 0.2rem 0 rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 0.2rem 0.2rem 0 rgba(0, 0, 0, 0.75);
    box-shadow: 0 0.2rem 0.2rem 0 rgba(0, 0, 0, 0.75);

    .dropdown-content {
      background-color: var(--color4);
      border-radius: 0 0 0.5rem 0.5rem;
      box-shadow: 0.1rem 0.1rem 1rem #000;
      box-shadow: inset 0 7px 9px -7px #000;

      a {
        color: var(--color2);
      }
    }
  }

  .nav-lang {
    text-align: center;

    a:first-child {
      img {
        margin: 0;
      }
    }
  }
}

// ======================================= Media Queries ==========================================
@media (max-width: ($tablet - 1)) {
  nav {
    .menu-links {
      background-color: rgba(0, 0, 0, 0.75);
      position: fixed;
      width: 10em;
      right: -10em;
      top: 6.7rem;
      border-radius: 1em 0 0 1em;
      transition: right 0.5s ease-in-out;

      &.active {
        // display: block;
        right: 0;
      }

      ul {
        text-align: center;

        li {
          display: list-item;

          a {
            display: block;
            padding: 1rem 0;
            color: white;

            &:hover {
              cursor: pointer;
              background-color: var(--color2);
              color: var(--color1);
            }
          }

          .dropdown {
            display: block;

            .dropdown-content {
              box-shadow: none;
              margin: auto;
              position: static;
              width: auto;
              overflow: hidden;
            }
          }
        }
      }
    }

    &.opaque {
      .menu-links {
        background-color: var(--color4);
        box-shadow: inset 0 7px 9px -7px #000, -0.2rem 0.2rem 0.2rem 0 rgba(0, 0, 0, 0.2);
        -webkit-box-shadow: inset 0 7px 9px -7px #000, -0.2rem 0.2rem 0.2rem 0 rgba(0, 0, 0, 0.2);
        -moz-box-shadow: inset 0 7px 9px -7px #000, -0.2rem 0.2rem 0.2rem 0 rgba(0, 0, 0, 0.2);
        border-radius: 0 0 0 1em;
        top: 3.7rem;

        ul {
          li {
            a {
              color: var(--color2);
            }

            a:hover {
              color: var(--color1);
            }
          }
        }
      }
    }

    .weather {
      background-color: rgba(0, 0, 0, 0.75);
      justify-content: flex-end;
      bottom: 0;
      display: flex;
      left: 0;
      position: fixed;
      width: 100%;
    }
  }
}

@media (max-width: $mobile) {
  .menu-links {
    position: absolute;
    width: 100%;
    margin-left: -1rem;
    background-color: var(--color4);
    box-shadow: inset 0 7px 9px -7px #000;

    &.active {
      display: block;
    }

    ul {
      text-align: center;

      li {
        display: list-item;

        a {
          display: block;
          padding: 1rem 0;
          color: var(--color2);

          &:hover {
            cursor: pointer;
            background-color: var(--color2);
            color: var(--color1);
          }
        }

        .dropdown {
          display: block;

          .dropdown-content {
            box-shadow: none;
            margin: auto;
            position: static;
            width: auto;
            overflow: hidden;
          }
        }
      }
    }

    .nav-lang {
      margin-bottom: 1rem;
    }
  }
}

@media (min-width: $tablet) {
  .burger {
    display: none;
  }

  nav {
    ul {
      li {
        padding-right: 0.9rem;
      }
    }

    .menu-links {
      display: flex;
      // flex-direction: column;
      align-items: center;
      margin-right: auto;
      order: 2;

      .dropdown-content {
        overflow: hidden;
      }
    }

    .nav-lang {
      display: block;
      order: 3;
    }

    .weather {
      display: block;
      order: 3;
    }

    overflow: visible;
  }
}

// @media (min-width: 1216px) {}

// @media (min-width: 1408px) {}

// ======================================= Animations ==========================================

@keyframes dropdown-movein {
  0% {
    max-height: 0;
  }

  100% {
    max-height: 600px;
  }
}

@keyframes dropdown-moveout {
  0% {
    max-height: 600px;
  }

  100% {
    max-height: 0;
  }
}
