@import '../../style.vars.scss';

.weather {
  align-items: center;
  color: var(--color0);
  cursor: pointer;
  display: flex;

  div {
    align-items: center;
    display: flex;
    font-size: 0.9rem;
  }
}

@media (max-width: ($tablet - 1)) {
  .weather {
    div {
      img {
        width: 2rem;
      }
    }
  }
}
