<div class="title">
  <h1 class="color1 center text-shadow">{{ Language.browse.name }}</h1>
</div>
<div class="filters">
  <div class="top"><label for="categories">{{ Language.categories }}</label></div>
  <div class="top"><label for="categories">{{ Language.region }}</label></div>
</div>
<div class="filters">
  <div class="select">
    <select name="categories" [(ngModel)]="SelectedCat" (change)="filterCards($event.target.value,SelectedReg)" id="">
      <option *ngFor="let item of Language.browse.categories; index as i;" [value]='i'>{{ item }}</option>
    </select>
  </div>
  <div class="select">
    <select name="regions" [(ngModel)]="SelectedReg" (change)="filterCards(SelectedCat,$event.target.value)" id="">
      <option *ngFor="let item of Language.browse.region; index as i;" [value]='i'>{{ item }}</option>
    </select>
  </div>
</div>
<div id="masonry">
  <div *ngFor="let item of CardsFiltered; index as i;" (click)="openModal(i)"
    class="card color1 center rounded p-2 overlay">
    <h3 class="text-shadow white center">{{ item.title }}</h3>
    <!-- <img src="{{ item.slides[0] }}" alt=""> -->
    <img [lazyLoad]="item.slides[0]">
    <div>{{ item.description }}</div>
    <div class="type">{{ Language.browse.categories[item.type] }}</div>
    <div class="type region">{{ Language.browse.region[item.region] }}</div>
    <!-- Modals -->
    <div class="modal-background" id="modal-{{i}}">
      <div class="modal color0">
        <div class="modal-top-shadow"></div>
        <div class="modal-title text-shadow center">{{ item.title }}</div>
        <div class="face-parent">
          <div class="pointer" (click)="fbShare()">
            <fa-icon [icon]="['fab', 'facebook']"></fa-icon>
            <span>{{ Language.share }} </span>
          </div>
        </div>
        <div class="carousel-container">
          <app-carousel [slides]="Slides"></app-carousel>
        </div>
        <div class="modal-content text-shadow color2">
          {{ item.description }}
        </div>
        <div class="more">
          <div class="map" id="map">
            <agm-map [latitude]="lat" [zoom]="zoom" [longitude]="lon">
              <agm-marker [latitude]="lat" [longitude]="lon"></agm-marker>
            </agm-map>
          </div>
          <div class="facilities">
            <div class="top center color0 text-shadow">
              <h1>{{Language.facilities}}</h1>
            </div>
            <div *ngIf="item.facilities" [ngClass]="{'has': item.facilities.restaurants}" class="item">
              <div>
                <div>
                  <fa-icon title="{{ Language.has }} {{ Language.restaurants }}" [icon]="['fas', 'utensils']">
                  </fa-icon>
                </div>
              </div>
            </div>
            <div *ngIf="item.facilities" [ngClass]="{'has': item.facilities.wc}" class="item">
              <div>
                <div>
                  <fa-icon title="{{ Language.has }} WC" [icon]="['fas', 'restroom']"></fa-icon>
                </div>
              </div>
            </div>
            <div *ngIf="item.facilities" [ngClass]="{'has': item.facilities.parks}" class="item">
              <div>
                <div>
                  <fa-icon title="{{ Language.has }} {{ Language.parks }}" [icon]="['fas', 'parking']"></fa-icon>
                </div>
              </div>
            </div>
            <div *ngIf="item.facilities" style="flex-basis: 100%; margin-top: 3em; height: auto; margin-bottom: 3em;">
              {{ item.facilities.others }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<fa-icon (click)="closeModal()" class="pointer block close-modal" title="{{ Language.close }}"
  [icon]="['fas', 'times']"></fa-icon>
  
