@import '../../style.vars.scss';

#masonry {
  width: 95%;
  margin: auto;
  column-count: 4;
  column-gap: 3em;
}

.card {
  display: inline-block;
  width: auto;
  margin: 0 0 1em 0;

  .type {
    color: var(--color4);
    display: inline-block;
    font-weight: bold;
    margin-top: 1em;

    &.region {
      color: var(--color2);
      margin-left: 5em;
    }
  }
}

.card:hover {
  transform: none;
}

.masonry-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  column-count: auto;
  column-gap: auto;
  width: 100%;

  .card {
    width: 400px;
  }

  .card + .card {
    margin-left: 1em;
  }
}

.filters {
  text-align: center;
  color: white;
  max-width: 30em;
  display: flex;
  justify-content: center;
  margin: auto;

  .top {
    width: 15em;
  }
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #2c3e50;
  background-image: none;
  flex: 1;
  padding: 0 0.5em;
  color: #fff;
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.select {
  position: relative;
  display: flex;
  width: 10em;
  height: 2em;
  line-height: 3;
  overflow: hidden;
  border-radius: 0.25em;
  margin: 1em auto;
}

.select::after {
  content: '\25BC';
  position: absolute;
  top: -0.4em;
  right: 0;
  padding: 0 0.5em;
  background: var(--color0);
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: 0.25s all ease;
  -o-transition: 0.25s all ease;
  transition: 0.25s all ease;
}

.select:hover::after {
  color: var(--color4);
}

// ======================================= Media Queries =======================================
@media (max-width: $desktop) {
  #masonry {
    column-count: 3;
  }
}

@media (max-width: $tablet) {
  #masonry {
    column-count: 2;
  }
}

@media (max-width: $mobile) {
  #masonry {
    column-count: 1;
  }
}
