@import '~normalize.css';
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Eczar&display=swap');
@import 'style.vars.scss';

html {
  font-size: 15px;
  font-family: 'Roboto';
}
body {
  background-image: url('https://external-preview.redd.it/0Xav8KGjl0kJE6lJBAlpV2c-wKWGdjzw1WaF1RX5xxk.jpg?auto=webp&s=fdbdadd45c7a34d73a0b71879448b5b897821bb9');
  a {
    text-decoration: none;
  }
}
app-root {
  height:100%;
}
.ml-1 {
  margin-left: .5rem;
}
.mr-1 {
  margin-right: .5rem;
}
.my-1 {
  margin-top:.5rem;
  margin-bottom:.5rem;
}
