/* 
Default Color theme:
*/
:root {
	--color0: #E6EBE0;
	--color1: #ED6B86;
	--color2: #463239;
	--color3: #A7C4B5;
	--color4: #FAB3A9;
	--color5: rgba(144,144,144,1);
	--color6: rgba(128,128,128,1);
}