// Default Color theme:
:root {
  --color0: #e6ebe0;
  --color1: #ed6b86;
  --color2: #463239;
  --color3: #a7c4b5;
  --color4: #fab3a9;
  --color5: rgba(144, 144, 144, 1);
  --color6: rgba(128, 128, 128, 1);
}
