// Default Color theme:
:root {
  --color0: #0fff95;
  --color1: #70a9a1;
  --color2: #8cfbde;
  --color3: #103900;
  --color4: #06ba63;
}

$mobile: 768px;
$tablet: 1024px;
$desktop: 1200px;
$large-desktop: 1400px;
